.container-fluid {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

.myCntr{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.imgCntr{
display: flex;
margin: 30px;
}

.imgCntr2{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card{
    box-shadow: none;
    border: none;
    background: transparent;
}

.errorM{
    color: red;
    font-size: 12px;
}