<div class="container-fluid">
    <div class="myCntr">
        <div class="imgCntr">
            <img class="imgCntr2" src="../../assets/sss.png" alt="..." width="40%" height="40%">
        </div>
        <div class="card">
            <h2 class="card-title mx-auto">Welcome</h2>
            <h6 class="card-title mx-auto"><i>to</i></h6>
            <h5 class="card-title mx-auto">Smart Schooling System</h5>
            <div class="card-body my-4">
                <div>
                    <form [formGroup]="loginForm" class="form col-md-7 mx-auto" (ngSubmit)="login()">
                        <span class="errorM" *ngIf="loginForm.get('Email').hasError('required') && loginForm.get('Email').touched">*</span>
                        <div class="mb-4 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                </svg>
                            </span>
                            <input type="email" [(ngModel)]="email" formControlName="Email" class="form-control" id="exampleInputEmail1 " placeholder="Enter email"
                                aria-describedby="emailHelp">
                        </div>

                        <span class="errorM" *ngIf="loginForm.get('Pass').hasError('required') && loginForm.get('Pass').touched">*</span>
                        <div class="mb-4 input-group flex-nowrap">
                            <span type="input" class="input-group-text" id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                </svg>
                            </span>
                            <input type="password" [(ngModel)]="pass" formControlName="Pass" class="form-control" placeholder="Enter password"
                                id="exampleInputPassword1">
                        </div>
                        <div class="d-grid col-8 mx-auto my-3">
                            <button type="submit" class="btn rounded-pill btn-sm btn-dark" [disabled]="!loginForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>