<div class="container-fluid mt-2">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1"
        class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/j1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>Events</h5>
          <p>School set tour for all teachers and decided go to amazoun jungle.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/j2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>Events</h5>
          <p>School set tour for all teachers and decided go to amazoun jungle.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/j3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>Events</h5>
          <p>School set tour for all teachers and decided go to amazoun jungle.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row mx-auto">
    <div class="card col-sm-4 my-2 p-2 mx-auto">
      <div class="card-header">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-megaphone-fill" viewBox="0 0 16 16">
            <path
              d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z" />
          </svg>
          <h5>Announcement</h5>
        </span>
        <h6 class="card-subtitle mb-2 text-muted">Announcement just for all teachers</h6>
      </div>
      <div class="card-body">
        <p class="card-text">All teachers must be there (meeting room) sharp 10:30 pm.</p>
      </div>
    </div>

    <div class="card col-sm-4 my-2 p-2 mx-auto">
      <div class="card-header">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
            <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
          </svg>
          <h5>Schedule</h5>
        </span>
        <h6 class="card-subtitle mb-2 text-muted">Schedule for that students which is belongs to class's teachers</h6>
      </div>
      <div class="card-body">
        <p class="card-text">1) Math class will be at 10'o clock.</p>
        <p class="card-text">2) Math class will be at 11'o clock.</p>
      </div>
    </div>
  </div>
</div>